@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<!--error page when form field is empty-->
<h1 class="text-danger">Error.</h1>
<p>Empty Field Error! Please try again.</p>

<!--link to home page-->
<a asp-page="/Index">Home Page</a>